<!DOCTYPE html>
<html data-dpr="1">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="pragram" content="no-cache">
  <title>小宝图书馆</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">

  <meta name="x5-fullscreen" content="true">
  <meta name="full-screen" content="yes">
  <!-- <meta name="referrer" content="always"> -->
  <meta name="referrer" content="no-referrer" />
  <meta http-equiv="Expires" CONTENT="0">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta http-equiv="Cache-Control" CONTENT="no-cache">
  <meta http-equiv="Pragma" CONTENT="no-cache">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="shortcut icon" href="../assets/imgs/favicon.ico" type="image/ico" />
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
  <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script>
</head>

<body>
  <article id="apps"></article>
  <div class="lock-screen-back" id="lock_screen_back"></div>
</body>
<script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-beta.3/polyfill.min.js"></script>

</html>