<!DOCTYPE html>
<html data-dpr="1">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="pragram" content="no-cache">
  <title>小宝图书馆</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">

  <meta name="x5-fullscreen" content="true">
  <meta name="full-screen" content="yes">
  <!-- <meta name="referrer" content="always"> -->
  <meta name="referrer" content="no-referrer" />
  <meta http-equiv="Expires" CONTENT="0">
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <meta http-equiv="Cache-Control" CONTENT="no-cache">
  <meta http-equiv="Pragma" CONTENT="no-cache">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <style>
    p {
      position: absolute;
      top: 20%;
      text-align: center;
      margin: 0 auto;
      display: block;
      left: 0;
      right: 0;
      font-size: 24px;
    }
  </style>
</head>

<body>
  <p>
    近期开馆，敬请期待！
  </p>

</body>

</html>